<div class ="hidden" id="editor">


  <div class="searchStyle">
    <div class="formContainer">
      <button class="leftCircle" id="back" onclick="back()"><img src="../images/Back1.svg" class="leftCircle"></button>
      <h2 class ="fill">{{Title}}</h2>
      <button class="rightCircle" id="save" onClick="bookmarkConstellation()"><img src="../images/Bookmark.svg" class="rightCircle"></button>
    </div>
  </div>
  <div style ="editorTop">
    <p> {{Description}}</p>
  </div>
  <canvas class="editorBody" id="viewCanvas" oncontextmenu="return false;"></canvas>
  <div class="editorStyle"></div>
</div>
<!-- INCLUDE SCRIPTS BELOW -->
<script src="../javascripts/constellation.js"></script>
<script src="../javascripts/constellationView.js"></script>
