<img src="../images/starryLogo.svg" id="Title">
<div class="hidden">
  <div class="formContainer">
    <button class="leftCircle" id="star" onclick="starClicked()"><img src="../images/StarNew.svg" class="leftCircle"></button>
    <button id="constellation" onclick="constellationClicked()"><img src="../images/ConstellationIconNew.svg"></button>
    <form method="post" name="search" action="/search">
      <input type="text" placeholder="Discover something new..."/>
    </form>
    <form method="post" name="search" action="/search">
      <button class="rightCircle" id="telescope"><img src="../images/TelescopeNew.svg" class="rightCircle" ></button>
    </form>
  </div>
  {{{extra}}}
  </div>
<!-- INCLUDE SCRIPTS BELOW -->
<script src="../javascripts/main.js"></script>
