<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Zooming is disabled to make the webapp feel more like native app -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>Constellation</title>
  <!-- Using pure.css instead of bootstrap -->
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
  <!-- CSS for this document -->
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
  <!-- INCLUDE OTHER CSS DOCUMENTS BELOW -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- INCLUDE OTHER SCRIPTS BELOW -->
  <script src="../javascripts/main.js"></script>
</head>

<body>
  <div class="pure-g">
    <form class= "pure-form form-wrapper cf" name="search" action="/search" method="post">
      <div class="pure-button-group">
        <input type="text" placeholder="Discover something new..." required>
        <button type="submit">Search</button>
      </div>
    </form>
  </div>
</body>

</html>
