<img src="../images/starryLogo.svg" id="Title">
<div class="hidden">
  <div class="formContainer">
    <button class="leftCircle" name="star" id="star" form="search" type="button" onclick="starClicked()"><img src="../images/StarNew.svg" class="leftCircle"></button>
    <button id="constellation" name="constellation" form="search" type="button" onclick="constellationClicked()"><img src="../images/ConstellationIconNew.svg"></button>
    <form method="post"  id="search" action="/search/star">
      <input type="text" name="search" placeholder="Discover something new..."/>
    </form>
      <button class="rightCircle" type="submit" form="search" id="telescope"><img src="../images/TelescopeNew.svg" class="rightCircle" ></button>
  </div>
  {{{extra}}}
  </div>
<!-- INCLUDE SCRIPTS BELOW -->
<script src="../javascripts/main.js"></script>
