<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Zooming is disabled to make the webapp feel more like native app -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{title}}</title>
    <!-- Icon for website (telescope) -->
    <link rel="icon" href="../images/Telescope Blue1.png" />
    <!-- CSS for this document -->
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <!-- INCLUDE OTHER CSS DOCUMENTS BELOW -->
    <!-- jquery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
