<div class="hidden">
<div class="formContainer">
  <button class="leftCircle" id="back" onclick="backClicked()"><img src="../images/Back1.svg" class="leftCircle"></button>
  <h2 class ="fill">My Constellations</h2>
  <div class="rightCircle" id="profileFill"></div>
</div>
<div class="results">
  <div class="searchResult">
      <h3>Result</h3>
      <p>Description lorem some extra description to mak15e91 5t9h159o1s5 91591591afahoif waf</p>
    </div>
    <div class="searchResult">
      <h3>Result</h3>
      <p>Description lorem some extra description to mak15e91 5t9h159o1s5 91591591afahoif waf</p>
    </div>
    <div class="searchResult">
      <h3>Result</h3>
      <p>Description lorem some extra description to mak15e91 5t9h159o1s5 91591591afahoif waf</p>
    </div>
    <div class="searchResult">
      <h3>Result</h3>
      <p>Description lorem some extra description to mak15e91 5t9h159o1s5 91591591afahoif waf</p>
    </div>
    <div class="searchResult">
      <h3>Result</h3>
      <p>Description lorem some extra description to mak15e91 5t9h159o1s5 91591591afahoif waf</p>
    </div>
  </div>
</div>
<!-- INCLUDE SCRIPTS BELOW  -->
<script src="../javascripts/profileStuffs.js"></script>
