<div class ="hidden" id="editor">
  <div class="searchStyle">
    <div class="formContainer">
      <button class="leftCircle" id="back" onclick="backConstellation()"><img src="../images/Back1.svg" class="leftCircle"></button>
      <h2 class ="fill">New Constellation</h2>
      <button class="rightCircle" id="save" type="submit" form="constellation"><img src="../images/SaveIcon.svg" class="rightCircle"></button>
    </div>
  </div>
  <div style ="editorTop">
    <form method="post"  id="constellation" action="/nebula/constellation">
      <input class ="nebulaInput" id="titleField" type="text" name="Title" placeholder="Title"/>
      <input class ="nebulaInput" id="descriptionField" type="text" name="Description" placeholder="Description"/>
    </form>
  </div>
  <canvas class="editorBody" id="editorCanvas" oncontextmenu="return false;"></canvas>
  <button class="editorStyle goto-editor"  onClick="editorClicked()">Editor</button>
</div>

<div class ="hidden bottomMargin" id="search">
  <button class="searchStyle goto-search"  onClick="searchClicked()">Add stars to your constellation</button>
  <div class="searchBody">
    <div class="formContainer">
      <div class="leftCircle profileFill"><img src="../images/StarNew.svg" class="leftCircle"></div>
      <form method="post"  action="/search" id="search">
        <input type="text" name="search" value="{{query}}"/>
      </form>
      <button class="rightCircle" id="telescope" type="submit" form="search"><img src="../images/TelescopeNew.svg" class="rightCircle" ></button>
    </div>
    <div class="results">
        <div class="searchResult">
          <h3>Sorry, no results found.</h3>
          <p>Perhaps try a less specific or search for something else.</p>
        </div>
    </div>
  </div>
  <div class="editorStyle"></div>
</div>

<script src="../javascripts/nebula.js"></script>
<script src="../javascripts/nebula_editor.js"></script>
