<div class="hidden">
  <div class="formContainer">
    <button class="leftCircle" id="back" onclick="backStar()"><img src="../images/Back1.svg" class="leftCircle"></button>
    <h2 class ="fill">Nebula</h2>
    <button class="rightCircle" id="save" type="submit" form="star"><img src="../images/SaveIcon.svg" class="rightCircle"></button>
  </div>
  <h2> Create a star! </h2>
  <form method="post"  id="star" action="/nebula/star">
    <input class ="nebulaInput" type="text" name="Title" placeholder="Title"/>
    <textarea class ="nebulaInputLarge" type="text" name="Description" placeholder="Description"/>
    <input class ="nebulaInput" type="url" name="Url" placeholder="URL"/>
  </form>
</div>
<!-- INCLUDE SCRIPTS BELOW -->
<script src="../javascripts/nebula.js"></script>
