

<div class="hidden">
  <div class="formContainer">
    <button class="leftCircle" id="back" onclick="backClicked()"><img src="../images/Back1.svg" class="leftCircle"></button>
    <h2 class ="fill">{{username}}</h2>
    <div class="rightCircle" id="profileFill">
    </div>
  </div>
  <div class="formContainer">
    <button class="bigAssButton" onClick="myStarsClicked()">My Stars</button>
  </div>
  <div class="formContainer">
    <button class="bigAssButton" onClick="myConstellationsClicked()">My Constellations</button>
  </div>
  <div class="formContainer">
    <button class="bigAssButton" onClick="savedStarsClicked()">Saved Stars</button>
  </div>
  <div class="formContainer">
    <button class="bigAssButton" onClick="savedConstellationsClicked()">Saved Constellations</button>
  </div>




</div>

<script src="../javascripts/profile.js"></script>
