

<div class="hidden">
  <div class="formContainer">
    <button class="leftCircle" id="back" onclick="backClicked()"><img src="../images/Back1.svg" class="leftCircle"></button>
    <h2 class ="fill">UserName</h2>
    <button class="rightCircle"> </button>
  </div>
  <div class="formContainer">

    <button class="button" onClick="myStarsClicked()">My Stars</button>
  </div>



</div>

<script src="../javascripts/profile.js"></script>
