<canvas id="interactiveCanvas">
</canvas>
<div id = "backdrop"></div>

<div class="hidden">
  <div class="formContainer">
    <button class="leftCircle" id="back" onclick="backClicked()"><img src="../images/Back1.svg" class="leftCircle"></button>
    <h2 class ="fill">UserName</h2>
  </div>
  <div class="sideBar">
    <p>text</p>
    <p>more text</p>
    <p>even more text</p>
  </div>
</div>

<script src="../javascripts/profile.js"></script>
