<canvas id="interactiveCanvas">
</canvas>

<div class="hidden">
<div id="formContainer">
  <button class="leftCircle" id="star" onclick="starClicked()"><img src="../images/StarNew.svg" class="leftCircle"></button>
  <button id="constellation" onclick="constellationClicked()"><img src="../images/ConstellationIconNew.svg"></button>
  <form method="post" name="search" action="/search">
    <input type="text" placeholder="Discover something new..."/>
  </form>
  <button class="rightCircle" id="telescope" onclick="telescopeClicked()"><img src="../images/TelescopeNew.svg" class="rightCircle" ></button>
</div>
<button class="button" onclick="profileClicked()">Profile</button>

<div class="results">
  <div class="searchResult">
      <h2>Result</h2>
      <p>Description lorem some extra description to mak15e91 5t9h159o1s5 91591591afahoif waf</p>
    </div>
    <div class="searchResult">
      <h2>Result</h2>
      <p>Description lorem some extra description to mak15e91 5t9h159o1s5 91591591afahoif waf</p>
    </div>
    <div class="searchResult">
      <h2>Result</h2>
      <p>Description lorem some extra description to mak15e91 5t9h159o1s5 91591591afahoif waf</p>
    </div>
    <div class="searchResult">
      <h2>Result</h2>
      <p>Description lorem some extra description to mak15e91 5t9h159o1s5 91591591afahoif waf</p>
    </div>
    <div class="searchResult">
      <h2>Result</h2>
      <p>Description lorem some extra description to mak15e91 5t9h159o1s5 91591591afahoif waf</p>
    </div>
  </div>
</div>
<!-- INCLUDE SCRIPTS BELOW  -->
<script src="../javascripts/search.js"></script>
<script src="../javascripts/main_canvas.js"></script>
