<div class="hidden">
  <h2 class="center">Would you like to see a demonstration of how constellation works?</h2>
  <div class="formContainer">
    <button class="button-wide" onclick="yesPlease()">Yes, Please!</button>
    <button class="button-wide" onclick="noThanks()">No Thanks</button>
  </div>
</div>
  <!-- INCLUDE SCRIPTS BELOW -->
  <script src="../javascripts/signUp.js"></script>
