<canvas id="interactiveCanvas">
</canvas>
  <div class="hidden">
    <h1>Confirm Sign Up</h1>
      <h2>Please retype password to confirm registration</h2>
    <form id="verticalForm" method="post" name="signUp2" action="/signUp2">
      <input class="formElement onlyLeftRadius onlyRightRadius" type="password" placeholder="Password">
    <div class="formContainer">
        <button class="button formElement" type="button" onClick="back2()">Back</button>
        <button class="button formElement" type="submit">Submit</button>
      </div>
    </form>
  </div>
<!-- INCLUDE SCRIPTS BELOW -->
<script src="../javascripts/signUp.js"></script>
<script src="../javascripts/main_canvas.js"></script>
