<canvas id="interactiveCanvas">
</canvas>
<div id = "backdrop"></div>
  <div class="hidden">
    <h1>Sign In</h1>
    <form id="verticalForm" method="post" action="/signIn">
      <input class= "formElement onlyLeftRadius onlyRightRadius" type="text" name="username" placeholder="Username">
      <input class="formElement onlyLeftRadius onlyRightRadius" type="password" name="password" placeholder="Password">
      <div class="formContainer">
        <button class="button formElement" type="button" onClick="back()" >Back</button>
        <button class="button formElement" type="submit">Submit</button>
      </div>
    </form>
  </div>
<!-- INCLUDE SCRIPTS BELOW -->
<script src="../javascripts/signIn.js"></script>
<script src="../javascripts/main_canvas.js"></script>
