  <div class="hidden">
    <h1>Sign Up</h1>
    <form id="verticalForm" method="post" action="/signUp">
      <input class= "formElement onlyLeftRadius onlyRightRadius" name="username" type="text" placeholder="Choose a Username">
      <input class="formElement onlyLeftRadius onlyRightRadius" name="password" type="password" placeholder="Choose a Password">
      <input class= "formElement onlyLeftRadius onlyRightRadius" name="email" type="text" placeholder="Email (Optional)">
      <input class="formElement onlyLeftRadius onlyRightRadius" name="passwordConfirm" type="password" placeholder="Confirm Password">
    <div class="formContainer">
        <button class="button formElement" type="button" onClick="back()">Back</button>
        <button class="button formElement" type="submit">Submit</button>
      </div>
    </form>
    <h2>{{message}}</h2>
  </div>
<!-- INCLUDE SCRIPTS BELOW -->
<script src="../javascripts/signUp.js"></script>
