<canvas id="interactiveCanvas">
</canvas>
  <div class="hidden">
    <form id="verticalForm" method="post" name="search" action="/search">
      <input class= "formElement onlyLeftRadius onlyRightRadius" type="text" placeholder="Username">
      <input class="formElement onlyLeftRadius onlyRightRadius" type="password" placeholder="Password">
      <button class="button formElement" type="submit">Submit</button>
    </form>




  <!-- INCLUDE SCRIPTS BELOW -->
  <script src="../javascripts/main.js"></script>
  <script src="../javascripts/main_canvas.js"></script>
</div>
