<div class ="hidden">
  <h2> {{Title}} </h2>
  <p> {{Description}}</p>
  <iframe src ="{{Url}}" class ="contentBox"></iframe>
  <div class="formContainer">
    {{Extra}}
  </div>
</div>
<!-- INCLUDE SCRIPTS BELOW -->
<script src="../javascripts/star.js"></script>
