<div class ="hidden">
  <h2> Title </h2>
  <p> description etc lots of word asdf asdf asdf asdf asfd asdf aasdf asdf </p>
  <iframe src = "http://www.instructables.com" class ="contentBox"></iframe>

  <div class="formContainer">
    <button class="leftCircle wide" id="constellation" onclick="constellationClicked()"><img src="../images/ConstellationIconNew.svg"></button>
    <button class="rightCircle wide" id="bookmark" onclick="bookmarkClicked()"><img src="../images/Bookmark.svg"></button>

  </div>
</div>

<script src="../javascripts/star.js"></script>
