<div class ="hidden">
  <h2> {{Title}} </h2>
  <p> {{Description}}</p>
  <iframe src ="{{Url}}" class ="contentBox"></iframe>
  <div class="formContainer">
    <button class="leftCircle wide" id="constellation" onclick="back()"><img src="../images/Back1.svg"></button>
    <button class="rightCircle wide" id="bookmark" onclick="bookmark()"><img src="../images/Bookmark.svg"></button>
  </div>
</div>
<!-- INCLUDE SCRIPTS BELOW -->
<script src="../javascripts/star.js"></script>
