/*Here are some theme colors:
* Writing: #F5F5F5
* Secondary: #212121
* Background: #263238
*
*Currently experimenting with different fonts
*Might Import Fonts from Google Fonts.
*Current Contender:
* Dosis
* Roboto support?
*
*
*/

@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #263238;
  color:#212121;
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  display:flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  background-color: #F5F5F5;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p,
button,
input {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  border:none;
  padding: 0px;
  padding-left: 1px;
}

input {
  outline:0;
  width: calc(100% - 35px);
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  margin:0px;
}

button {
  background-image: url(../images/Test.svg);
  outline:0;
  width:30px;
  overflow: hidden;
  margin:0px;
}
button:hover {
  background-image: url(../images/Test.svg);
}

form {
  width:80%;
  padding: 0px;
  background-color: #263238;
}

.rightCircle {
  border-radius: 0px 15px 15px 0px;
  height:30px;
}

.leftCircle {
  border-radius: 15px 0px 0px 15px;
  height:30px;
}
