/*Here are some theme colors:
* Writing: #F5F5F5
* Secondary: #212121
* Background: #263238
*
*Currently experimenting with different fonts
*Might Import Fonts from Google Fonts.
*Current Contender:
* Dosis
* Roboto support?
*
*
*/

@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #263238;
  color:#212121;
  font-family: "Dosis", Helvetica, Arial, sans-serif;
}


p,
button,
input {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}


button,
input {
  color:#212121;
  font-weight: 500;
  border:1px solid #212121 !important;
}


input:hover,
input:active,
input:focus,
button:focus,
button:active,
button:hover,
.btn:active,
.btn.active
{
    border:1px solid #212121 !important;
    outline:0px !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
